body
{
    color: #121110;
    background-color: #121110;
    margin: 0;
    height: 100vh;
}

.notes-container
{
    background-color: #373737;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    /* align-content: stretch; */
    justify-content: space-around;
    /* justify-items: center; */
}

.note
{
    background-color: #B2CB37;
    text-align: center;
    padding: 10px;
    max-width: 250px;
    box-shadow: 10px 10px 5px ;
    border-radius: 5%;
}

header
{
    text-align: center;
    background-color: #2E3130;
    padding: 10px;
    position: sticky;
    top: 0;
}

#n2, #n4
{
    width: 100px;
}

#n3, #n5
{
    width: 150px;
}

.big-red-dot
{
    width: 50px;
    height: 50px;
    background-color: red;
}

#kw
{
    background-color: #404040;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#button
{
    background-color: grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    color: #121110;
}

#color-button
{
    background-color: grey;
    border-radius: 10%;
    position: fixed;
    right: 70px;
    bottom: 10px;
    cursor: pointer;
    color: #121110;
}

#delete-button
{
    background-color: grey;
    border-radius: 10%;
    cursor: pointer;
    color: #121110;
}

footer
{
    background-color: #505050;
    padding: 10px;
    text-align: center;
}